.footer {
color: hsl(193, 38%, 86%);
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    font-size: 11px;
    text-align: center;
}
.footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
